.card-img {
    position: relative;
}

.card-discount {
    background-color: #ef4056;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    border-radius: .25rem 0 .25rem 0 ;
    padding: 2px 5px 0;
}