.card-img {
    position: relative;
}

.card-discount {
    background-color: #ef4056;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    border-radius: .25rem 0 .25rem 0 ;
    padding: 2px 5px 0;
}

.card-age {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: #3cbac6;
    border-radius: 0 .25rem 0 .25rem ;
    padding: 2px 5px 0;
}

.card-body h5 {
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis;
    color: black;
}