.social svg {
    fill: rgba($color: #fff, $alpha: 0.5);
}

.social .social-telegram:hover {
    fill: #579ae5;
}

.social .social-instagram:hover {
    fill: #e1306c;
}

.social .social-twitter:hover {
    fill: #08c1e2;
}

.social .social-facebook:hover {
    fill: #3b5998;
}